@charset "UTF-8";
/* CSS Document */

body {

}

div#fremont {
background-attachment: fixed;
    background-image: url(../img/fremont.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
	width:100%;
	}
	
	div#willamette {
background-attachment: fixed;
    background-image: url(../img/willamette.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
	width:100%;
	}