@charset "UTF-8";
/* CSS Document */

body {

background-attachment: fixed;
    background-image: url(../img/stjohns.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
	width:100%;
}