@charset "UTF-8";
/* CSS Document */

body {

background-attachment: fixed;
    background-image: url(../img/i5south.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
	width:100%;
}

div#sidebar div#logo div#wordmark { background:#9a0000;}