/* FONT IMPORTS */

@font-face {
    font-family: 'C64';
    src: url('fonts/c64.eot');
    src: url('fonts/c64.eot?#iefix') format('embedded-opentype'),
         url('fonts/c64.woff2') format('woff2'),
         url('fonts/c64.woff') format('woff'),
         url('fonts/c64.ttf') format('truetype'),
         url('fonts/c64.svg#C64') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Christiana';
    src: url('fonts/Christiana.eot');
    src: url('fonts/Christiana.eot?#iefix') format('embedded-opentype'),
         url('fonts/Christiana.woff2') format('woff2'),
         url('fonts/Christiana.woff') format('woff'),
         url('fonts/Christiana.ttf') format('truetype'),
         url('fonts/Christiana.svg#Christiana') format('svg');
    font-weight: normal;
    font-style: normal;
}

p, a,  span, li, ul, div, table, div#introduction p.helloworld, div.modal-content p, div#local-modals .modal-header h4 { font-family: 'Christiana' !important; letter-spacing: 1px;}
div#introduction p, div#introduction p span, p.top-return a, button p, h4, p.history, div#photographs .pics div p, div#photographs p.photogallery, div#photographs div.photo-category p  {font-family: 'C64' !important; font-weight:normal; letter-spacing:-0.5px;}

.modal-backdrop { opacity:.6 !important; background:black !important;}
body.modal-open {padding:0px !important; margin:0px !important; overflow-y: scroll; }

body { background:#b4b7ff  !important;}

p, a, button, span, li, ul, div, table {
color:#b4b7ff ;
}

/* UNIVERSAL */


a, a:hover {text-decoration:none !important;}
img a:hover, :hover, a img:hover, img.affix, opacity, div { transition: all 0.2s ease 0.1s;}
button { transition: all 1s ease .5s;}
img a, a img {border:0px; border:none; }

ul { list-style:none; padding:0px;}
li {padding:0px;}
sub {line-height:135%;}

.glyphicon,  {padding:0px 6px; font-size:.8em; color:#9a0000; font-family:"Glyphicons Halflings" !important;}
p.top-return  { text-align:center; font-size:1em; margin:0px auto;}
p.top-return a {color:#fa3200;padding:5px 12px;; border-radius:0px; background:#eee;}
p.top-return a:hover { background:#fa3200; color:white; border-radius:0px;}
div.modal-content button.close {opacity:1.0;}
div.modal-content button.close span {font-size:36px;  color:black; font-family:"Glyphicons Halflings" !important;}


/* CONTAINER */

div#container {background:#2a4bf6; padding:0px;}

@media(min-width:2000px) {
	div#container {width:95%; margin:0% 2.5%; }
}

@media(min-width:1600px) and (max-width:1999px){
div#container {width:90%; margin:0% 5%; }
}

@media(min-width:1200px) and (max-width:1599px){
div#container {width:90%; margin:-70px 5% 0 5%; }
body {padding-top:70px;}
}

@media(min-width:992px) and (max-width:1199px){
div#container {width:92%; margin:0px 4%; }
}

@media(min-width:768px) and (max-width:991px){
div#container {width:93%; margin:0px 3.5%; }
}

@media(min-width:481px) and (max-width:767px){
div#container {width:94%; margin:0px 3%; }
}

@media (max-width:480px){
div#container {width:95%; margin:0px 2.5%; }
}



/* PRIMARY, COMMODORE COLOR STRIPE AND PERSISTENT HEADER and FOOTER */
div#primary { max-width: 2100px;width: 100%;}
div#top-frame { background:#b4b7ff; position:fixed;  text-align:center; z-index:100; margin: 0; padding-top: 0px; }
div#top-frame p {padding: 20px 0px 0px 0px;color:white; }
div#top-frame.affix-top {}
div#top-frame.affix-top p, div#top-frame.affix-top p a {  display:none; }
div#top-frame.affix {display:inline-block;}
div#top-frame.affix p {margin-top:0px; opacity:1;}
div#top-frame.affix p a {color:white; opacity:1; padding:0px 4px;}
div#top-frame.affix p a:hover {color:white; background:red;}



div#bottom-frame { background:  #b4b7ff; bottom: 0;  position: fixed; z-index: 10;}

@media(min-width:2000px) {
div#primary {padding-top:0px;margin-top:0px;}
div#top-frame { height:70px; width:100%; }
div#bottom-frame {  height: 70px; margin-top: 200px;  width: 90%; }
}

@media(min-width:1600px) and (max-width:1999px){
div#primary {padding-top:0px;}
div#top-frame { height:70px; width:90%; }
div#bottom-frame {  height: 70px; margin-top: 200px;  width: 90%; }
}

@media(min-width:1200px) and (max-width:1599px){
div#primary {}
div#top-frame { height:70px; width:90%; }
div#bottom-frame {  height: 70px; margin-top: 200px;  width: 90%; }
}

@media(min-width:992px) and (max-width:1199px){
div#primary {}
div#top-frame { height:60px; width:92%; }
div#bottom-frame {  height: 60px; margin-top: 200px;  width: 100%; }
}

@media(min-width:768px) and (max-width:991px){
div#top-frame { height:50px; width:93%; }
div#bottom-frame {  height: 50px; margin-top: 200px;  width: 100%; }
}

@media(min-width:481px) and (max-width:767px){
div#primary p.history {font-size:.9em; letter-spacing:0.2px; position:relative; padding-top:80px;}
}

@media (max-width:480px){
	div#top-frame p.history {font-size:.8em; letter-spacing:0.1px; position:relative; padding-top:80px;}
}


/* INTRODUCTION */
div#introduction {min-height:500px;}

div#introduction p {text-align:center; font-family: 'C64' !important; font-size:1.5em;}
div#introduction p#birdy, div#introduction p.helloworld {width:50%; margin:24px 0px 16px; font-size:1.05em; line-height:185%;}
div#introduction p#birdy {float:left; margin:40px 0px; }
div#introduction p.helloworld {text-align:left; margin:30px 0px 0px 50%; color:white; padding: 1% 2% 1% 1%; }

div#introduction p.projectgallery {text-align:center; background:white;color:#003aff; font-size:1.75em; margin: 180px 25% 20px;padding:0px;line-height:100%;}
div#introduction p.helloworld span {color:#ffe94d; font-family: 'Christiana' !important; letter-spacing:1px;}
div#introduction p span {font-family: 'C64'}
div#introduction p span#ram {padding-right:34px; }
div#introduction img.cursor {margin-top: -5px; padding-left: 4px;}

div#introduction div#commodore-colors {margin-top:115px; }
div#introduction div#commodore-colors div#declaration {width:30%; float:left; padding:0px; margin:0px;}
div#introduction div#commodore-colors div#declaration p.ready {margin-top:-5px; background:#2a4bf6; padding:0px;}
div#introduction div#commodore-colors div.spectrum {height:20px;width:4.375%; margin:0px; padding:0px; }
div#introduction div#commodore-colors div.spectrum.left {float:left;}
div#introduction div#commodore-colors div.spectrum.right{float:right;}

div#introduction div#commodore-colors div#toews {background:black;}
div#introduction div#commodore-colors div#kane {background:white;}
div#introduction div#commodore-colors div#hossa {background:#fa3200;}
div#introduction div#commodore-colors div#sharp {background:#1de0ff;}

div#introduction div#commodore-colors div#saad {background:#aa4bd0;}
div#introduction div#commodore-colors div#vermette {background:#68bc4f;}
div#introduction div#commodore-colors div#versteeg {background:#545eec;}
div#introduction div#commodore-colors div#bickell {background:#ffe853;}

div#introduction div#commodore-colors div#kruger {background:#c3c3c3;}
div#introduction div#commodore-colors div#shaw {background:#b4b7ff;}
div#introduction div#commodore-colors div#teuvo {background:#b3ff97;}
div#introduction div#commodore-colors div#nordstrom {background:#8f8f8f;}

div#introduction div#commodore-colors div#carcillo {background:#606060;}
div#introduction div#commodore-colors div#richards {background:#ff7143;}
div#introduction div#commodore-colors div#desjardins {background:#c53b00;}
div#introduction div#commodore-colors div#hartman {background:#ff5d00;}


@media(min-width:1200px){
div#introduction { padding-top:100px;}
}

@media(min-width:992px) and (max-width:1199px){
div#introduction { padding-top:100px;}
}

@media(min-width:768px) and (max-width:991px){
div#introduction { padding-top:90px;}
}
@media(min-width:481px) and (max-width:767px){

}
@media (max-width:480px){
	
}

/* PROJECTS */
div#projects {width:100%;padding: 0%; margin: 30px 0; }
div#projects p.gallery {text-align:center; padding:0px 0px; margin-bottom:20px; }
div#projects .btn-primary.btn-lg {width:21.625%; margin:0% 4% 6% 0%; padding:0%; border-radius:0px; box-shadow:0px 0px 0px white; text-shadow:none; height:120px; border:3px solid white; float:left; background:#b4b7ff;}
div#projects .btn-primary.btn-lg p {color:white;text-transform:uppercase; font-size:.9em; line-height:115%;  text-shadow:0px 2px 2px black}
div#projects .btn-primary.btn-lg:hover {opacity:.9; box-shadow:0 0px 9px white;}
div#projects .btn-primary.btn-lg.right-col {margin-right:2%;}
div#projects .btn-primary.btn-lg.left-col { margin-left:2%;}


div#projects button#b01 {background:url(../img/thumbs/deacon.gif); background-position:top center;}
div#projects button#b01:hover {background:url(../img/thumbs/deacon.gif); background-position:bottom center;}

div#projects button#b02 {background:url(../img/thumbs/kavi.gif); background-position:top center;}
div#projects button#b02:hover {background:url(../img/thumbs/kavi.gif); background-position:bottom center;}

div#projects button#b03 {background:url(../img/thumbs/sbre.gif); background-position:top center; }
div#projects button#b03:hover {background:url(../img/thumbs/sbre.gif); background-position:bottom center;}

div#projects button#b04 {background:url(../img/thumbs/confluence.gif); background-position:top center;}
div#projects button#b04:hover {background:url(../img/thumbs/confluence.gif); background-position:bottom center;}

div#projects button#b05 {background:url(../img/thumbs/qc.gif); background-position:top center;}
div#projects button#b05:hover {background:url(../img/thumbs/qc.gif); background-position:bottom center;}

div#projects button#b06 {background:url(../img/thumbs/mhco.gif); background-position:top center;}
div#projects button#b06:hover {background:url(../img/thumbs/mhco.gif); background-position:bottom center;}

div#projects button#b07 {background:url(../img/thumbs/antitheft.gif); background-position:top center;}
div#projects button#b07:hover {background:url(../img/thumbs/antitheft.gif); background-position:bottom center;}

div#projects button#b08 {background:url(../img/thumbs/bukers.gif); background-position:top center;}
div#projects button#b08:hover {background:url(../img/thumbs/bukers.gif); background-position:bottom center;}

div#projects button#b09 {background:url(../img/thumbs/fairway.gif); background-position:top center;}
div#projects button#b09:hover {background:url(../img/thumbs/fairway.gif); background-position:bottom center;}

div#projects button#b10 {background:url(../img/thumbs/commonwealth.gif); background-position:top center;}
div#projects button#b10:hover {background:url(../img/thumbs/commonwealth.gif); background-position:bottom center;}

div#projects button#b11 {background:url(../img/thumbs/jobgrowers.gif); background-position:top center;}
div#projects button#b11:hover {background:url(../img/thumbs/jobgrowers.gif); background-position:bottom center;}

div#projects button#b12 {background:url(../img/thumbs/westbearing.gif); background-position:top center;}
div#projects button#b12:hover {background:url(../img/thumbs/westbearing.gif); background-position:bottom center;}

div#projects-mobile {text-align:center;}
div#projects-mobile p {margin:12px 0px 24px 0px;}
div#projects-mobile h4 {margin:0px 0px 16px 0px; color:#9a0000; padding:6px; background:#eee; line-height:130%; font-size:1.1em; }
div#projects-mobile img {width:100%; height:auto; border:1px solid #ccc;}


@media(min-width:1200px){
div#projects p.gallery img {}
div#projects .btn-primary.btn-lg {margin:2%; width:21%; }
div#projects-mobile {display:none;} 
}
@media(min-width:992px) and (max-width:1199px){
div#projects p.gallery img {width:400px; height:auto;}
div#projects .btn-primary.btn-lg {margin:0% 3% 6% 0%; width:21.625%;  }
div#projects-mobile {display:none;} 
}
@media(min-width:768px) and (max-width:991px){
div#projects p.gallery img {width:360px; height:auto;}
div#projects .btn-primary.btn-lg {margin:0% 3% 6% 0%; width:21.625%;  }
div#projects-mobile {display:none;} 
}
@media(min-width:481px) and (max-width:767px){
div#projects p.gallery img {width:320px; height:auto;}
div#projects div#modal-buttons {display:none;}
}
@media (max-width:480px){
	div#projects p.gallery img {width:270px; height:auto;}
	div#projects div#modal-buttons {display:none;}
}

/* MODALS */

div#local-modals .modal-dialog { margin: 36px 16%;width: 68%; border-radius:0px; }
div#local-modals .modal-dialog img { width:100%; height:auto; padding:12px;margin:0px auto;}
div#local-modals .modal-content {border-radius:0px;}
div#local-modals .modal-body {padding:0px;}
div#local-modals .modal-header {background:#f0f0f0; padding: 8px 12px;}
div#local-modals .modal-header p {font-size: 0.7em;
    line-height: 120%;
    margin: 9px 0 0 0;
    padding-left: 8px;
	color:#aaa;
	letter-spacing:0px;
    width: 95%;}
div#local-modals .modal-header h4 {
    color: #666;
    font-size: .8em;
 letter-spacing:1px;
    line-height: 125%;
    padding: 3px 4px 6px 8px;
	border-bottom:1px solid #ccc;
    width: 95%;}

@media(min-width:1200px){
div#local-modals .modal-dialog { margin: 36px 16%;width: 68% }
}
@media(min-width:992px) and (max-width:1199px){
div#local-modals .modal-dialog { margin: 32px 13%;width: 74% }
}
@media(min-width:768px) and (max-width:991px){
div#local-modals .modal-dialog { margin: 30px 10%;width: 80% }
}
@media(min-width:481px) and (max-width:767px){
div#local-modals .modal-dialog { margin: 24px 7%;width: 86% }
}
@media (max-width:480px){
div#local-modals .modal-dialog { margin: 24px 7%;width: 86% }
}


/* PHOTOGRAPHY */

div#photographs {width:80%; margin:20px auto; text-align:center;}
div#photographs  div.photo-category p.social {width:100%; margin:0px;}
div#photographs  div.photo-category p.social img {display:none;}
div#photographs  div.photo-category p.social img:hover {border:4px solid black; box-shadow:0px 8px 12px white;}
div#photographs div.photo-category {width:45%;height:400px; overflow:hidden; text-align:center; border:3px solid white; float:left; margin:2.5%;}
div#photographs div.photo-category:hover { box-shadow:0 0px 9px white;}
div#photographs div.photo-category:hover p.social img {width:50px; height:auto; margin:12px; border:4px solid white; display:inline-block;}
div#photographs div.photo-category p { color: white; font-size: 2.5em; line-height: 115%; text-shadow: 0 2px 2px black; text-transform: uppercase; margin-top:35%;}
	
div#photographs div#creative  {background:url(../img/thumbs/creative.jpg); background-position:top center;}
div#photographs div#creative:hover {background:url(../img/thumbs/creative.jpg); background-position:bottom center;}

div#photographs div#editorial  {background:url(../img/thumbs/editorial.jpg); background-position:top center;}
div#photographs div#editorial:hover {background:url(../img/thumbs/editorial.jpg); background-position:bottom center;}

div#photographs div#portland  {background:url(../img/thumbs/portland.jpg); background-position:top center;}
div#photographs div#portland:hover {background:url(../img/thumbs/portland.jpg); background-position:bottom center;}

div#photographs div#models  {background:url(../img/thumbs/models.jpg); background-position:top center;}
div#photographs div#models:hover {background:url(../img/thumbs/models.jpg); background-position:bottom center;}

div#contact {line-height: 190%; padding: 40px 0 20px; text-align: center;width: 100%;}
div#contact p {color:white;}
div#contact p a {color:white;padding:0px 6px; }
div#contact p a:hover {color:white;background:red;}

div#icons {padding-bottom:70px;}
div#icons p img {width:50px; height:auto; margin:0px 10px 10px; }
div#icons p img:hover {box-shadow:0 0px 9px white;}
div#icons p.copyright {font-size:.75em;}
div#icons p.signoff {font-size:.65em; line-height:190%; width:80%; margin:auto;}
div#icons p.signoff a {color: #ffe94d;}

@media(min-width:1200px){
div#photographs p.photogallery {text-align:center; background:white;color:#003aff; font-size:1.75em; margin: 20px 20% 20px;padding:0px;line-height:100%; width:60%;}

}

@media(min-width:992px) and (max-width:1199px){
div.photo-tout {width:31%; margin-right:3.33%; }
div#photography div.photo-tout h3 { font-size:1em;}
div#photography div.photo-tout img {width:130px; margin:10px 0; height:130px;}
div#photo-tout-two button#b13 { background:url(../img/product_macro.jpg) no-repeat left; border:0px; box-shadow:none; width:130px; height:130px; border-radius:240px; margin:10px auto;}
div#photo-tout-three button#b14 { background:url(../img/staff_models.jpg) no-repeat center; border:0px; box-shadow:none; width:130px; height:130px; border-radius:240px; margin:10px auto;}
}

@media(min-width:768px) and (max-width:991px){
div.photo-tout {width:31%; margin-right:3.33%; }
div#photography div.photo-tout  h3 { font-size:1em;}
div#photography div.photo-tout img {width:124px; margin:10px 0; height:124px;}
div#photo-tout-two button#b13 { background:url(../img/product_macro.jpg) no-repeat left; border:0px; box-shadow:none; width:124x; height:124px; border-radius:240px; margin:10px auto;}
div#photo-tout-three button#b14 { background:url(../img/staff_models.jpg) no-repeat center; border:0px; box-shadow:none; width:124px; height:124px; border-radius:240px; margin:10px auto;}

}
@media(min-width:481px) and (max-width:767px){
div.photo-tout {width:100%; margin:0px;}
div#photography div.photo-tout  h3 { font-size:1.2em;}
div#photography div.photo-tout img {width:22%; margin:0px 0px 15px 15px; float:right;}
div#photo-tout-two button#b13 { background:url(../img/product_macro.jpg) no-repeat left; border:0px; box-shadow:none; width:124px; height:124px; border-radius:240px; margin:10px auto;}
div#photo-tout-three button#b14 { background:url(../img/staff_models.jpg) no-repeat center; border:0px; box-shadow:none; width:124px; height:124px; border-radius:240px; margin:10px auto;}

}
@media (max-width:480px){
div#photography div.photo-tout img {width:30%; margin:0px 0px 15px 15px; float:right;}
div#photography div.photo-tout h3 { font-size:1.2em;}
}

/* SOCIAL */
div#social {width:100%;}
div#social iframe#twitter-widget-0  {width:47% !important; height:600px !important;}
div#social iframe#bookface {width:47%; float:right; height:600px;}

@media(min-width:1200px){

}
@media(min-width:992px) and (max-width:1199px){

}
@media(min-width:768px) and (max-width:991px){

}
@media(min-width:481px) and (max-width:767px){
	div#social iframe#twitter-widget-0  {width:100% !important; height:300px !important;}
	div#social iframe#bookface {width:100%; float:none; height:300px; margin-top:21px;}
}
@media (max-width:480px){
	div#social iframe#twitter-widget-0  {width:100% !important; height:300px !important;}
	div#social iframe#bookface {width:100%; float:none; height:300px; margin-top:21px;}
}

