/***--BOOTSTRAP BREAKPOINTS-- ***/

@media(min-width:1200px){

}
@media(min-width:992px) and (max-width:1199px){

}
@media(min-width:768px) and (max-width:991px){

}
@media(min-width:481px) and (max-width:767px){

}
@media (max-width:480px){
}


.modal-backdrop { opacity:.6 !important; background:black !important;}
body.modal-open {padding:0px !important; margin:0px !important; overflow-y: scroll; }

/**
body {

background-attachment: fixed;
    background-image: url(../img/willamette.jpg);
    background-position: left top;
    background-repeat: no-repeat;
    background-size: cover;
	width:100%;
} **/

p, a, button, span, li, ul, div, table {
font-family: 'Muli', sans-serif;
 font-weight:300;
}
a, a:hover {text-decoration:none !important;}
a, button:hover, img a:hover, :hover, a img:hover, text-shadow, font-size { transition: all 0.2s ease 0.1s;}
button { transition: all 1s ease .5s;}
img a, a img {border:0px;}

ul { list-style:none; padding:0px;}
li {padding:0px;}

.glyphicon {padding:0px 6px; font-size:.8em; color:#9a0000;}
p.top-return  { text-align:center; font-size:1em; margin:0px auto;}
p.top-return a {color:#9a0000;padding:5px; border-radius:0px; background:#eee;}
p.top-return a:hover { background:#9a0000; color:white; border-radius:6px;}
button.close {font-size:36px; opacity:1.0;}

/* CONTAINER */


@media(min-width:1200px){
div#container {width:1170px; margin:0px auto; }
}
@media(min-width:992px) and (max-width:1199px){
div#container {width:92%; margin:0px 4%; }
}
@media(min-width:768px) and (max-width:991px){
div#container {width:94%; margin:0px 3%; }
}
@media(min-width:481px) and (max-width:767px){
div#container {width:94%; margin:0px 3%; }
}
@media (max-width:480px){
	div#container {width:95%; margin:0px 2.5%; }
}


/* SIDEBAR AND FRIENDS */

div#sidebar {position:fixed;}
div#sidebar a, div#sidebar li {color:white;}
div#sidebar a:hover {color:white;}

div#sidebar div#logo {margin-bottom:32px}
div#sidebar div#logo div#commiebird { background:black; text-align:center; margin:0px auto; padding:0px 0px 15px;}
div#sidebar div#logo div#commiebird img {}

div#sidebar div#logo div#wordmark {}
div#sidebar div#logo div#wordmark img { width:100%; height:auto;}

div#sidebar div#nav {width:100%; background:black; padding:0px; margin-bottom:32px; text-transform:uppercase;}
div#sidebar div#nav ul {}
div#sidebar div#nav ul li {}
div#sidebar div#nav ul li a { display:block; color:white;}
div#sidebar div#nav ul li a:hover {  background:#9a0000; letter-spacing:4px; font-weight:400;}

div#sidebar div#contact {width:100%; background:black; padding:6px 0 0; text-transform:uppercase;}
div#sidebar div#contact ul {}
div#sidebar div#contact ul li {}
div#sidebar div#contact ul li.contact-mail, div#sidebar div#contact ul li.contact-phone {}
div#sidebar div#contact ul li.contact-mail {}
div#sidebar div#contact ul li.contact-phone {}
div#sidebar div#contact ul li a {background:#9a0000;  }
div#sidebar div#contact ul li.contact-phone a {}
div#sidebar div#contact ul li a:hover {  background:#333; }
	
@media(min-width:1200px){
	
div#sidebar {width:190px; padding:0px; }


div#sidebar div#logo div#commiebird { width:100%; text-align:center;padding:20px 0px; }
div#sidebar div#logo div#commiebird img {}

div#sidebar div#logo div#wordmark {}

div#sidebar div#nav {width:100%; background:black; padding:0px; margin-bottom:32px; text-transform:uppercase;}
div#sidebar div#nav ul {}
div#sidebar div#nav ul li {letter-spacing:1.5px; }
div#sidebar div#nav ul li a {  padding: 9px 12px;  font-size:1em;}
div#sidebar div#nav ul li a:hover {  background:#9a0000; letter-spacing:4px; font-weight:400;}

div#sidebar div#contact { padding:6px 0 0; }
div#sidebar div#contact ul {}
div#sidebar div#contact ul li {padding: 5px 12px; display:block; font-size:.8em; letter-spacing:1.25px;}
div#sidebar div#contact ul li.contact-mail, div#sidebar div#contact ul li.contact-phone {padding:0px;text-align:center;}
div#sidebar div#contact ul li.contact-mail {border-top:2px solid white; border-bottom:2px solid white; margin-top:8px;}
div#sidebar div#contact ul li.contact-phone {font-size:1em; }
div#sidebar div#contact ul li a {  padding: 6px 0px; display:block; }
div#sidebar div#contact ul li.contact-phone a {padding:10px 0px; font-weight:400; }
div#sidebar div#contact ul li a:hover {  letter-spacing:2px; font-size:1.05em;}

}
@media(min-width:992px) and (max-width:1199px){
div#sidebar {width:16%; padding:0px; }
div#sidebar div#nav {width:100%; padding:0px; margin-bottom:32px;}
div#sidebar div#nav ul {}
div#sidebar div#nav ul li {letter-spacing:1.25px; }
div#sidebar div#nav ul li a {  padding: 8px 12px;  font-size:.9em;}
div#sidebar div#nav ul li a:hover {  background:#9a0000; letter-spacing:3px; font-weight:400;}

div#sidebar div#contact { padding:6px 0 0; }
div#sidebar div#contact ul {}
div#sidebar div#contact ul li {padding: 5px 12px; display:block; font-size:.8em; letter-spacing:1.25px;}
div#sidebar div#contact ul li.contact-mail, div#sidebar div#contact ul li.contact-phone {padding:0px;text-align:center;}
div#sidebar div#contact ul li.contact-mail {border-top:2px solid white; border-bottom:2px solid white; margin-top:8px;}
div#sidebar div#contact ul li.contact-phone {font-size:1em; }
div#sidebar div#contact ul li a {  padding: 6px 0px; display:block; }
div#sidebar div#contact ul li.contact-phone a {padding:10px 0px; font-weight:400; }
div#sidebar div#contact ul li a:hover {  letter-spacing:2px; font-size:1.05em;}

}
@media(min-width:768px) and (max-width:991px){
	div#sidebar {width:16%; padding:0px; }
div#sidebar div#nav {width:100%;  padding:0px; margin-bottom:32px; }
div#sidebar div#nav ul {}
div#sidebar div#nav ul li {letter-spacing:1.5px; }
div#sidebar div#nav ul li a {  padding: 8px 9px;  font-size:.8em;}
div#sidebar div#nav ul li a:hover {  background:#9a0000; letter-spacing:2px; font-weight:400;}

div#sidebar div#contact { padding:6px 0 0; }
div#sidebar div#contact ul {}
div#sidebar div#contact ul li {padding: 5px 12px; display:block; font-size:.7em; letter-spacing:1.25px;}
div#sidebar div#contact ul li.contact-mail, div#sidebar div#contact ul li.contact-phone {padding:0px;text-align:center;}
div#sidebar div#contact ul li.contact-mail {border-top:2px solid white; border-bottom:2px solid white; margin-top:8px;}
div#sidebar div#contact ul li.contact-phone {font-size:.8em; }
div#sidebar div#contact ul li a {  padding: 6px 0px; display:block; }
div#sidebar div#contact ul li.contact-phone a {padding:10px 0px; font-weight:400; }
div#sidebar div#contact ul li a:hover {  letter-spacing:1px; font-size:1em;}
}

@media(min-width:481px) and (max-width:767px){
div#sidebar {display:none;}
}

@media (max-width:480px){
div#sidebar {display:none;}
}

/* PRIMARY */
div#primary {}
div#primary p.history {margin-bottom:0px;text-align:center; padding:6px;z-index:1; width:940px;}
div#primary p.history.affix-top {background:white;  color:black;   border-bottom:1px solid white; border-right:1px solid white; border-left:1px solid white; }
div#primary p.history.affix { background:#111; color:#ddd;text-align:center;   border-right:0px solid black; border-left:0px solid black; border-bottom:6px double white;   }

@media(min-width:1200px){
div#primary {float: right; margin: 0 0 0 230px; padding-top: 0px; width: 940px;}
div#primary p.history {width:940px; font-size:.95em; letter-spacing:0.5px; position:fixed;}
}
@media(min-width:992px) and (max-width:1199px){
div#primary {float: right; margin: 0; padding-top: 0px; width: 79%;}
div#primary p.history {width:72.7%; font-size:.9em; letter-spacing:0.25px; position:fixed;}
}
@media(min-width:768px) and (max-width:991px){
div#primary {float: right; margin: 0; padding-top: 0px; width: 79%;}
div#primary p.history {width:74.3%; font-size:1.05em; letter-spacing:0.3px; position:fixed;}

}
@media(min-width:481px) and (max-width:767px){
div#primary p.history {width:94%; font-size:.9em; letter-spacing:0.2px; position:relative;}
}
@media (max-width:480px){
	div#primary p.history {width:94%; font-size:.8em; letter-spacing:0.1px; position:relative;}
}

/* MOBILE MENU */


@media(min-width:1200px){
div.btn-group {display:none;}
}

@media(min-width:992px) and (max-width:1199px){
div.btn-group {display:none;}
}

@media(min-width:768px) and (max-width:991px){
div.btn-group {display:none;}
}
@media(min-width:481px) and (max-width:767px){

}
@media (max-width:480px){
}

/***--MARQUEE-- ***/
/*
div#primary div#marquee {height:275px; margin:42px auto;  text-align:center;}
div#primary div#marquee p {background:white; width:340px; margin:215px 300px 0px; float:left;}
div#primary div#marquee img {padding:10px 0px; margin:0px auto; } */

@media(min-width:1200px){

}
@media(min-width:992px) and (max-width:1199px){

}
@media(min-width:768px) and (max-width:991px){

}
@media(min-width:481px) and (max-width:767px){

}
@media (max-width:480px){
}


/* INTRODUCTION */
div#introduction {width:100%; text-align:center;}

div#introduction div#intro-touts {margin:0px auto; text-align:left; position:relative;}

div#introduction div#intro-touts  h3 {margin:0px; padding:6px 10px; text-transform:uppercase; letter-spacing:0.75px; background:#bbb;  font-weight:300; color:white;}
div#intro-touts p {padding:10px; }
div.intro-tout { float:left; background:white; }
div#intro-tout-one { }
div#intro-tout-two {}
div#intro-tout-three {margin-right:0%;}

@media(min-width:1200px){
div.intro-tout {width:31%; margin-right:3.33%; }
div#introduction div#intro-touts  h3 { font-size:1.15em;}
div#introduction div#intro-touts img {width:60%; margin:10px 20%;}
}

@media(min-width:992px) and (max-width:1199px){
div.intro-tout {width:31%; margin-right:3.33%; }
div#introduction div#intro-touts  h3 { font-size:1.1em;}
div#introduction div#intro-touts img {width:60%; margin:10px 20%;}
}

@media(min-width:768px) and (max-width:991px){
div.intro-tout {width:31%; margin-right:3.33%; }
div#introduction div#intro-touts  h3 { font-size:1em;}
div#introduction div#intro-touts img {width:60%; margin:10px 20%;}
}
@media(min-width:481px) and (max-width:767px){
div.intro-tout {width:100%; margin:0px;}
div#introduction div#intro-touts  h3 { font-size:1.2em;}
div#introduction div#intro-touts img {width:24%; margin:0px 0px 15px 10px; float:right;}
}
@media (max-width:480px){
	div#introduction div#intro-touts img {width:36%; margin:0px 0px 15px 10px; float:right;}
	div#introduction div#intro-touts  h3 { font-size:1.2em;}
}

/* PROJECTS */
div#projects {width:100%;padding:4%; margin-top:50px; float:left; }
div#projects-mobile {text-align:center;}
div#projects-mobile img {width:100%; height:auto; border:1px solid #ccc;}
div#projects p.gallery {text-align:center; padding:20px 0px; margin-bottom:20px; }
div#projects .btn-primary.btn-lg {width:21.625%; margin:0% 4% 6% 0%; padding:0%; border-radius:0px; box-shadow:0px 0px 0px white; text-shadow:none; height:120px; border:3px solid white; font-size:1em; color:white;}
div#projects .btn-primary.btn-lg:hover {opacity:.9; box-shadow:-1px 1px 3px black; color:red;}
div#projects .btn-primary.btn-lg.right-col {margin-right:0%;}


div#projects button#b01 {background:url(../img/thumbs/deacon.jpg); background-position:top center;}
div#projects button#b01:hover {background:url(../img/thumbs/deacon.jpg); background-position:bottom center;}

div#projects button#b02 {background:url(../img/thumbs/kavi.jpg); background-position:top center;}
div#projects button#b02:hover {background:url(../img/thumbs/kavi.jpg); background-position:bottom center;}

div#projects button#b03 {background:url(../img/thumbs/sbre.jpg); background-position:top center; }
div#projects button#b03:hover {background:url(../img/thumbs/sbre.jpg); background-position:bottom center;}

div#projects button#b04 {background:url(../img/thumbs/confluence.jpg); background-position:top center;}
div#projects button#b04:hover {background:url(../img/thumbs/confluence.jpg); background-position:bottom center;}

div#projects button#b05 {background:url(../img/thumbs/qc.jpg); background-position:top center;}
div#projects button#b05:hover {background:url(../img/thumbs/qc.jpg); background-position:bottom center;}

div#projects button#b06 {background:url(../img/thumbs/mhco.jpg); background-position:top center;}
div#projects button#b06:hover {background:url(../img/thumbs/mhco.jpg); background-position:bottom center;}

div#projects button#b07 {background:url(../img/thumbs/antitheft.jpg); background-position:top center;}
div#projects button#b07:hover {background:url(../img/thumbs/antitheft.jpg); background-position:bottom center;}

div#projects button#b08 {background:url(../img/thumbs/bukers.jpg); background-position:top center;}
div#projects button#b08:hover {background:url(../img/thumbs/bukers.jpg); background-position:bottom center;}

div#projects button#b09 {background:url(../img/thumbs/fairway.jpg); background-position:top center;}
div#projects button#b09:hover {background:url(../img/thumbs/fairway.jpg); background-position:bottom center;}

div#projects button#b10 {background:url(../img/thumbs/commonwealth.jpg); background-position:top center;}
div#projects button#b10:hover {background:url(../img/thumbs/commonwealth.jpg); background-position:bottom center;}

div#projects button#b11 {background:url(../img/thumbs/jobgrowers.jpg); background-position:top left;}
div#projects button#b11:hover {background:url(../img/thumbs/jobgrowers.jpg); background-position:top right;}

div#projects button#b12 {background:url(../img/thumbs/westbearing.jpg); background-position:top center;}
div#projects button#b12:hover {background:url(../img/thumbs/westbearing.jpg); background-position:bottom center;}


@media(min-width:1200px){
div#projects p.gallery img {}
div#projects .btn-primary.btn-lg {margin:0% 4% 6% 0%; width:21.625%; }
div#projects-mobile {display:none;} 
}
@media(min-width:992px) and (max-width:1199px){
div#projects p.gallery img {width:400px; height:auto;}
div#projects .btn-primary.btn-lg {margin:0% 3% 6% 0%; width:21.625%;  }
div#projects-mobile {display:none;} 
}
@media(min-width:768px) and (max-width:991px){
div#projects p.gallery img {width:360px; height:auto;}
div#projects .btn-primary.btn-lg {margin:0% 3% 6% 0%; width:21.625%;  }
div#projects-mobile {display:none;} 
}
@media(min-width:481px) and (max-width:767px){
div#projects p.gallery img {width:320px; height:auto;}
div#projects div#modal-buttons {display:none;}
}
@media (max-width:480px){
	div#projects p.gallery img {width:270px; height:auto;}
	div#projects div#modal-buttons {display:none;}
}

/* MODALS */

div#local-modals .modal-dialog { margin: 36px 16%;width: 68%; border-radius:0px; }
div#local-modals .modal-dialog img { width:100%; height:auto; padding:12px;margin:0px auto;}
div#local-modals .modal-content {border-radius:0px;}
div#local-modals .modal-body {padding:0px;}
div#local-modals .modal-header {background:#eee; padding: 8px 12px;}
div#local-modals .modal-header p {margin:0px; font-size:.9em; padding-right:36px;}
div#local-modals .modal-header h4 {font-size:1.35em; font-weight:400; line-height:125%;}

@media(min-width:1200px){
div#local-modals .modal-dialog { margin: 36px 16%;width: 68% }
}
@media(min-width:992px) and (max-width:1199px){
div#local-modals .modal-dialog { margin: 32px 13%;width: 74% }
}
@media(min-width:768px) and (max-width:991px){
div#local-modals .modal-dialog { margin: 30px 10%;width: 80% }
}
@media(min-width:481px) and (max-width:767px){
div#local-modals .modal-dialog { margin: 24px 8%;width: 84% }
}
@media (max-width:480px){

}


/* PHOTOGRAPHY */

div#photography {}
div#photography p { text-align:center;}

@media(min-width:1200px){

}
@media(min-width:992px) and (max-width:1199px){

}
@media(min-width:768px) and (max-width:991px){

}
@media(min-width:481px) and (max-width:767px){

}
@media (max-width:480px){
}

/* SOCIAL */
div#social {width:100%;}
div#social iframe#twitter-widget-0  {width:47% !important; height:600px !important;}
div#social iframe#bookface {width:47%; float:right; height:600px;}

